.Banner-header {
    background: #010612;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 30vh;
}

h1 {
    margin-bottom: 0px;
}

.Banner-title {
    padding-top: 20px;
    font-size: calc(30px + 2vmin);
    font-weight: 500;
}